/* Common styles */
.pricing {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: center;
	justify-content: center;
	width: 100%;
	margin: 0 auto 3em;
}

.pricing__item {
	position: relative;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: stretch;
	align-items: stretch;
	text-align: center;
	-webkit-flex: 0 1 330px;
	flex: 0 1 330px;
	-webkit-box-sizing: border-box; box-sizing: border-box;
}

.pricing__feature-list {
	text-align: left;
}

.pricing__action {
	color: inherit;
	border: none;
	background: none;
}

.pricing__action:focus {
	outline: none;
}

/* Individual styles */

/* Rabten */
.pricing--rabten .pricing__item {
	font-family: 'Roboto', sans-serif;
	padding: 1em 2em;
	cursor: default;
	color: #262b38;
	max-width: 220px;
}

.pricing--rabten .pricing__item {
	border-right: 1px solid rgba(139, 144, 157, 0.18);
	border-left: 1px solid rgba(139, 144, 157, 0.18);
}

.pricing--rabten .pricing__title {
	font-size: 1em;
	margin: 1.5em 0 0;
}

.pricing--rabten .icon {
	font-size: 2.5em;
	color: #8b909d;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.pricing--rabten .pricing__item:hover .icon {
	color: #E03E3E;
}

.pricing--rabten .pricing__price {
	font-size: 2em;
	font-weight: bold;
	margin: 0.5em 0 0.75em;
	overflow: hidden;
}

.pricing--rabten .pricing__currency {
	font-size: 0.5em;
	vertical-align: super;
}

.pricing--rabten .pricing__period {
	font-size: 0.35em;
	color: #8b909d;
}

.pricing--rabten .pricing__anim {
	display: inline-block;
	position: relative;
}

.pricing--rabten .pricing__item:hover .pricing__anim {
	-webkit-animation: moveUp 0.4s forwards;
	animation: moveUp 0.4s forwards;
	-webkit-animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.pricing--rabten .pricing__item:hover .pricing__anim--2 {
	-webkit-animation-delay: 0.05s;
	animation-delay: 0.05s;
}

@-webkit-keyframes moveUp {
	50% { -webkit-transform: translate3d(0,-100%,0); transform: translate3d(0,-100%,0); }
	51% { opacity: 0; -webkit-transform: translate3d(0,-100%,0); transform: translate3d(0,-100%,0); }
	52% { opacity: 1; -webkit-transform: translate3d(0,100%,0); transform: translate3d(0,100%,0); }
	100% { -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0); }
}

@keyframes moveUp {
	50% { -webkit-transform: translate3d(0,-100%,0); transform: translate3d(0,-100%,0); }
	51% { opacity: 0; -webkit-transform: translate3d(0,-100%,0); transform: translate3d(0,-100%,0); }
	52% { opacity: 1; -webkit-transform: translate3d(0,100%,0); transform: translate3d(0,100%,0); }
	100% { -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0); }
}

.pricing--rabten .pricing__sentence {
	font-weight: bold;
	margin: 0 0 1em 0;
	padding: 0 0 0.5em;
	color: #8b909d;
}

.pricing--rabten .pricing__feature-list {
	font-size: 0.85em;
	margin: 0;
	padding: 0.25em 0 2.5em;
	list-style: none;
	text-align: center;
	color: #8b909d;
}

.pricing--rabten .pricing__action {
	font-weight: bold;
	margin-top: auto;
	padding: 1em 2em;
	color: #fff;
	border-radius: 30px;
	background: #E03E3E;
	-webkit-transition: background-color 0.3s;
	transition: background-color 0.3s;
}

.pricing--rabten .pricing__action:hover,
.pricing--rabten .pricing__action:focus {
	background-color: #C53737;
}

@media screen and (max-width: 60em) {
	.pricing--rabten .pricing__item {
		max-width: none;
		width: 90%;
		flex: none;
		border: none !important;
		opacity: 1 !important;
	}
}

	font-size: 0.95em;
	margin: 0;
	padding: 0 0 2.5em;
	list-style: none;
	color: #757983;
}

.pricing--tashi .pricing__feature {
	position: relative;
	display: block;
	padding: 0 0 0 20px;
	line-height: 1.5;
}

